---
layout: default
title: detail
---

      <div class="detail-content-1" style="background-image: url(assets/images/bg-3.png);">
        <img class="img-bg" src="assets/images/ellipse 69.png" alt="">
        <div class="row">
          <div class="col-md-4">
            <h1>Ceklok CK150 security sistem</h1>
            <h3>Kombinasi mesin absensi sidik jari, absensi wajah dan akses kontrol pintu terbaik dan terdepan saat ini.</h3>
            <div class="content-btn-1">
              <button type="button" class="btn btn-primary">COBA GRATIS</button>
              <button type="button" class="btn" style="background-color: transparent; border: 2px solid #3387d4; color: #3387d4; padding: 10px 20px;">
                <img style="width: 20px; height: auto;" src="assets/images/play_circle_filled_white_24px.png" alt=""> COBA DEMO PRODUK
              </button>
            </div>
          </div>
          <div class="col-md-8">
            <img src="assets/images/img-detail-1.png" alt="">
          </div>
        </div>
      </div>
      <div class="detail-content-2">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/images/img-detail-2.png" alt="">
          </div>
          <div class="col-md-6">
            <h1>Tentang Ceklok CK150 </h1>
            <h3>Dengan desain modern dan antarmuka pengguna yang interaktif, alat ini mudah digunakan dan memberikan tingkat keamanan yang tinggi untuk kontrol akses dan manajemen waktu kehadiran.</h3>
          </div>
        </div>
      </div>
      <div class="detail-content-3" style="background-image: url(assets/images/bg-4.png);">
        <div class="content-3">
          <h1>Spesifikasi Ceklok CK150</h1>
          <h3>Mempunyai banyak spesfikasi diantaranya:</h3>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-2">
                <img src="assets/images/icon-detail-1.png" alt="">
              </div>
              <div class="col-10">
                <h5>Kapasitas wajah</h5>
                <p>Ceklok CK150 memiliki fitur yang dapat menyimpan hingga 500 templat wajah </p>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <img src="assets/images/icon-detail-2.png" alt="">
              </div>
              <div class="col-10">
                <h5>Kapasitas sidik jari</h5>
                <p>Ceklok CK150 memiliki fitur yang dapat menyimpan hingga 2.000 templat sidik jari </p>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <img src="assets/images/icon-detail-3.png" alt="">
              </div>
              <div class="col-10">
                <h5>Kapasitas transaksi </h5>
                <p>Ceklok CK150 memiliki fitur yang dapat menyimpan hingga 100.000 transaksi log</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="assets/images/img-detail-3.png" alt="">
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-2">
                <img src="assets/images/icon-detail-4.png" alt="">
              </div>
              <div class="col-10">
                <h5>Mendukung identifikasi kartu</h5>
                <p>Ceklok CK150 memiliki fitur yang dapat menyimpan hingga 100.000 transaksi log </p>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <img src="assets/images/icon-detail-5.png" alt="">
              </div>
              <div class="col-10">
                <h5>Koneksi PC</h5>
                <p>Perangkat lunak manajemen yang mudah digunakan untuk konfigurasi dan pelaporan kehadiran yang mudah </p>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <img src="assets/images/icon-detail-6.png" alt="">
              </div>
              <div class="col-10">
                <h5>Jenis Komunikasi</h5>
                <p>Koneksi PC : TCP/IP/RS232/485</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="detail-content-4">
        <img class="img-bg" src="assets/images/ellipse 74.png" alt="">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/images/img-detail-4.png" alt="">
          </div>
          <div class="col-md-6">
            <h1>Download File </h1>
            <h3>Di bawah ini adalah user manual dan attendance management  produk kami yang dapat Anda unduh</h3>
            <div class="content-btn-1">
              <button type="button" class="btn btn-primary">COBA GRATIS</button>
              <button type="button" class="btn" style="background-color: transparent; border: 2px solid #3387d4; color: #3387d4; padding: 10px 20px;">
                <img style="width: 20px; height: auto;" src="assets/images/play_circle_filled_white_24px.png" alt=""> COBA DEMO PRODUK
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Line -->
      {% include line.html %}

      <!-- Review Content -->
      {% include review_content.html %}

      <!-- Review Content -->
      {% include faq_content.html %}

      <div class="detail-content-5">
        <div class="row">
          <div class="col-md-6">
            <h1>Menyederhanakan Solusi Keamanan untuk Anda</h1>
            <h3>Pada Ceklok CK150 kami memangkas kerumitan sistem keamanan...</h3>
          </div>
          <div class="col-md-6" style="position: relative;">
            <img class="img" src="assets/images/bg-page-1.png" alt="">
          </div>
        </div>
      </div>