---
layout: default
title: garansi
---

        <div class="garansi-content-1">
            <div class="row">
            <div class="col-md-6">
                <h1>Form Garansi <br> Mesin Fingerprint </h1>
                <h3>Garansi berlaku untuk jasa perbaikan dan untuk kerusakan pada pemakaian normal atau kesalahan pabrik.</h3>
            </div>
            <div class="col-md-6">
                <img src="assets/images/img-garansi-1.png" alt="">
            </div>
            </div>
        </div>
        <div class="garansi-content-2" style="background-image: url(assets/images/bg-2.png);">
            <div class="row">
              <div class="col-md-6">
                <img class="img" src="assets/images/img-garansi-2.png" alt="">
              </div>
              <div class="col-md-6">
                <h1>Ketentuan Garansi</h1>
                <div class="row">
                  <div class="col-2">
                    <img src="assets/images/btn-1.png" alt="">
                  </div>
                  <div class="col-10">
                    <p>Masa garansi adalah 24 bulan, sudah mencakup garansi spare part dan lifetime: garansi service.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <img src="assets/images/btn-2.png" alt="">
                  </div>
                  <div class="col-10">
                    <p>Jika segel atau sticker ceklok  diunit rusak maka garansi tidak berlaku.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <img src="assets/images/btn-3.png" alt="">
                  </div>
                  <div class="col-10">
                    <p>Garansi berlaku untuk jasa perbaikan dan untuk kerusakan pada pemakaian normal atau kesalahan pabrik.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <img src="assets/images/btn-4.png" alt="">
                  </div>
                  <div class="col-10">
                    <p>Garansi tidak berlaku untuk kerusakan yang disebabkan oleh: </p>
                    <ul>
                        <li>Kesalahan pemakaian</li>
                        <li>Dirusak secara sengaja maupun tidak sengaja </li>
                        <li>Mesin pernah diperbaiki ditempat lain</li>
                        <li>Listrik tidak stabil atau mati mendadak</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="garansi-content-3">
            <div class="row">
              <div class="col-md-5">
                <h1>Batasan dan tanggung jawab mesin fingerprint</h1>
                <h3>Dengan melakukan pembelian mesin fingerprint Ceklok CK150 berarti anda telah membaca, mengerti, mematuhi dan menyetujui  seluruh syarat  serta ketentuan yang berlaku. Klik tombol dibawah ini untuk  mengisi form garansi Ceklok CK150.</h3>
                <a href="https://forms.gle/vVTVE2xn4wcg24tR8" class="btn btn-primary" role="button" target="_blank">Form Garansi</a>
              </div>
              <div class="col-md-7">
                <img src="assets/images/img-garansi-3.png" alt="">
              </div>
            </div>
        </div>
        <div class="garansi-content-4" style="background-image: url(assets/images/bg-3.png);">
            <div class="row">
              <div class="col-md-7">
                <img class="content-img-5" src="assets/images/img-garansi-4.png" alt="">
              </div>
              <div class="col-md-5">
                <h1>Informasi kontak jika ada pertanyaan</h1>
                <h3>Apabila ada pertanyaan atau kesulitan dalam mengisi form garansi mesin fingerprint silahkan hubungi kami di :</h3>
                <h3>📱 : 088227107255</h3>
                <h3>📧 : support@ceklok.com</h3>
              </div>
            </div>
        </div>

        <!-- Review Content -->
        {% include review_content.html %}

        <!-- Review Content -->
        {% include faq_content.html %}

        <div class="garansi-content-5">
            <div class="row">
              <div class="col-md-6">
                <h1>Mulai kelola gaji pegawai Anda</h1>
                <h3>Dapatkan Ceklok dengan perangkat lunak kelola penggajian pegawai...</h3>
                <button type="button" class="btn btn-primary">Online Demo</button>
              </div>
              <div class="col-md-6" style="position: relative;">
                <img class="img" src="assets/images/home-landing-page.png" alt="">
              </div>
            </div>
        </div>

