---
layout: default
title: kepegawaian
---

        <div class="kepegawaian-content-1">
            <div class="row">
              <div class="col-md-6">
                <h1>Fitur Kepegawaian untuk manajemen data pegawai</h1>
                <h3>CEKLOK memberikan solusi digital untuk membantu Anda mengelola data pegawai, baik pegawai aktif maupun non aktif</h3>
                <div class="content-btn-1">
                  <button type="button" class="btn btn-primary">COBA GRATIS</button>
                  <button type="button" class="btn" style="background-color: transparent; border: 2px solid #3387d4; color: #3387d4; padding: 10px 20px;">
                    <img style="width: 20px; height: auto;" src="assets/images/play_circle_filled_white_24px.png" alt=""> COBA DEMO PRODUK
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <img src="assets/images/img-pegawai-1.png" alt="">
              </div>
            </div>
        </div>
        <div class="kepegawaian-content-2" style="background-image: url(assets/images/bg-2.png);">
            <div class="row">
              <div class="col-md-6">
                <img src="assets/images/img-pegawai-2.png" alt="">
              </div>
              <div class="col-md-6">
                <h1>Daftar Pegawai Aktif</h1>
                <h3>Manajemen data pegawai yang masih aktif.</h3>
              </div>
            </div>
        </div>
        <div class="kepegawaian-content-3">
            <div class="row">
              <div class="col-md-5">
                <h1>Kelola Pegawai Non Aktif</h1>
                <h3>Kelola Pegawai Non Aktif dengan kategori archive dan status kepegawaian.</h3>
              </div>
              <div class="col-md-7">
                <img src="assets/images/img-pegawai-3.png" alt="">
              </div>
            </div>
        </div>

        <!-- Line Content -->
        {% include line.html %}

        <!-- Review Content -->
        {% include review_content.html %}

        <!-- Review Content -->
        {% include faq_content.html %}

        <div class="kepegawaian-content-4">
          <div class="row">
            <div class="col-md-6">
              <h1>Mulai kelola gaji pegawai Anda</h1>
              <h3>Dapatkan Ceklok dengan perangkat lunak kelola penggajian pegawai...</h3>
              <button type="button" class="btn btn-primary">Online Demo</button>
            </div>
            <div class="col-md-6" style="position: relative;">
              <img class="img" src="assets/images/home-landing-page.png" alt="">
            </div>
          </div>
        </div>