---
layout: default
title: penggajian
---

        <div class="penggajian-content-1" style="background-image: url(assets/images/bg-3.jpg);">
            <div class="row">
            <div class="col-md-6">
                <h1>Fitur Penggajian untuk kelola gaji pegawai</h1>
                <h3>CEKLOK memberikan solusi digital untuk membantu Anda menghitung besaran upah pegawai beserta potongan bonus.</h3>
                <div class="content-btn-1">
                <button type="button" class="btn btn-primary">COBA GRATIS</button>
                <button type="button" class="btn" style="background-color: transparent; border: 2px solid #3387d4; color: #3387d4; padding: 10px 20px;">
                    <img style="width: 20px; height: auto;" src="assets/images/play_circle_filled_white_24px.png" alt=""> COBA DEMO PRODUK
                </button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/images/img-penggajian-1.png" alt="">
            </div>
            </div>
        </div>
        <div class="penggajian-content-2">
            <div class="row">
              <div class="col-md-6">
                <div class="img">
                  <img src="assets/images/img-penggajian-2.png" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <h1>Membuat Dokumen Lembur</h1>
                <h3>Pengajuan jadwal lembur yang tercatat dengan waktu yang realtime.</h3>
              </div>
            </div>
        </div>
        <div class="penggajian-content-3" style="background-image: url(assets/images/bg-3.jpg);">
            <div class="row">
              <div class="col-md-5">
                <h1>Grafik Laporan Gaji</h1>
                <h3>Pimpinan dapat melihat bentuk report statistik gaji pegawai.</h3>
              </div>
              <div class="col-md-7">
                <img src="assets/images/img-penggajian-3.png" alt="">
              </div>
            </div>
        </div>
        <div class="penggajian-content-4">
            <div class="row">
              <div class="col-md-7">
                <img src="assets/images/img-penggajian-4.png" alt="">
              </div>
              <div class="col-md-5">
                <h1>Koperasi Pegawai</h1>
                <h3>Laporan angsuran koperasi pegawai setiap bulan.</h3>
              </div>
            </div>
        </div>
        <div class="penggajian-content-5" style="background-image: url(assets/images/bg-3.png);">
            <div class="row">
              <div class="col-md-5">
                <h1>Laporan Pembayaran Gaji</h1>
                <h3>Total gaji terbayar semua pegawai. Rincian penerimaan gaji bersih dan kotor pegawai, gaji lembur, gaji intensif kerja malam dan shift</h3>
              </div>
              <div class="col-md-7">
                <img src="assets/images/img-penggajian-5.png" alt="">
              </div>
            </div>
        </div>

        <!-- Review Content -->
        {% include review_content.html %}

        <!-- Review Content -->
        {% include faq_content.html %}

        <div class="penggajian-content-6">
          <div class="row">
            <div class="col-md-6">
              <h1>Mulai kelola gaji pegawai Anda</h1>
              <h3>Dapatkan Ceklok dengan perangkat lunak kelola penggajian pegawai...</h3>
              <button type="button" class="btn btn-primary">Online Demo</button>
            </div>
            <div class="col-md-6" style="position: relative;">
              <img class="img" src="assets/images/bg-page-1.png" alt="">
            </div>
          </div>
        </div>