---
layout: default
title: presensi kehadiran
---
        <div class="presensi-content-1" style="background-image: url(assets/images/bg-3.png);">
            <div class="row">
              <div class="col-md-6">
                <h1>Fitur Presensi <br> Kehadiran</h1>
                <h3>CEKLOK memberikan solusi digital untuk membantu memantau kedisiplinan pegawai. Menampilkan jam masuk dan pulang yang realtime. </h3>
                <div class="content-btn-1">
                  <button type="button" class="btn btn-primary">COBA GRATIS</button>
                  <button type="button" class="btn" style="background-color: transparent; border: 2px solid #3387d4; color: #3387d4; padding: 10px 20px;">
                    <img style="width: 20px; height: auto;" src="assets/images/play_circle_filled_white_24px.png" alt=""> COBA DEMO PRODUK
                  </button>
                </div>
              </div>
              <div class="col-md-6" style="background-image: url(assets/images/cover-blur.png);">
                <div class="img">
                    <img src="assets/images/carousel-1.png" alt="">
                </div>
              </div>
            </div>
        </div>
        <div class="presensi-content-2">
            <div class="row">
              <div class="col-md-6" style="background-image: url(assets/images/cover-blur.png);">
                <img src="assets/images/img-presensi-2.png" alt="">
              </div>
              <div class="col-md-6">
                <h1>Laporan <br> Presensi Mobile</h1>
                <h3>Presentase keberhasilan presensi mobile setiap unit kerja..</h3>
              </div>
            </div>
        </div>
        <div class="presensi-content-3" style="background-image: url(assets/images/bg-4.png);">
            <div class="row">
              <div class="col-md-4">
                <h1>Laporan Presensi Pegawai</h1>
                <h3>Laporan ceklok masuk dan pulang pegawai yang dapat dicetak dalam bentuk laporan harian, laporan mingguan dan laporan bulanan.</h3>
              </div>
              <div class="col-md-8">
                <img src="assets/images/img-presensi-3.png" alt="">
              </div>
            </div>
        </div>
        <div class="presensi-content-4">
            <div class="row">
              <div class="col-md-8">
                <img src="assets/images/" alt="">
              </div>
              <div class="col-md-4">
                <h1>Laporan Presensi Pegawai</h1>
                <h3>Laporan ceklok masuk dan pulang pegawai yang dapat dicetak dalam bentuk laporan harian, laporan mingguan dan laporan bulanan.</h3>
              </div>
            </div>
        </div>

        <!-- Line Content -->
        {% include line.html %}

        <!-- Review Content -->
        {% include review_content.html %}

        <!-- Review Content -->
        {% include faq_content.html %}

        <div class="presensi-content-5">
            <div class="row">
              <div class="col-md-6">
                <h1>Mulai kelola gaji pegawai Anda</h1>
                <h3>Dapatkan Ceklok dengan perangkat lunak kelola penggajian pegawai...</h3>
                <button type="button" class="btn btn-primary">Online Demo</button>
              </div>
              <div class="col-md-6" style="position: relative;">
                <img class="img" src="assets/images/bg-page-1.png" alt="">
              </div>
            </div>
          </div>