---
layout: default
title: produk
---

      <div class="produk-content-1" style="background-image: url(assets/images/bg-3.png);">
        <div class="row">
          <div class="col-md-6">
            <h1>Lebih banyak fitur. <br> Kelola data dengan fitur yang beragam</h1>
            <h3>CEKLOK memberikan beragam fitur-fitur yang lengkap sesuai dengan kebutuhan Anda. Sistem yang sudah dijamin oleh beberapa perusahaan.</h3>
            <div class="content-btn-1">
              <button type="button" class="btn btn-primary">COBA GRATIS</button>
              <button type="button" class="btn" style="background-color: transparent; border: 2px solid #3387d4; color: #3387d4; padding: 10px 20px;">
                <img style="width: 20px; height: auto;" src="assets/images/play_circle_filled_white_24px.png" alt=""> COBA DEMO PRODUK
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <img src="assets/images/bg-page-1.png" alt="">
          </div>
        </div>
      </div>
      <div class="produk-content-2">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/images/img-produk-2.png" alt="">
          </div>
          <div class="col-md-6">
            <h1>Pengaturan Jadwal Jam Kerja</h1>
            <h3>Atur jadwal jam kerja pegawai dari waktu datang, pulang hingga jam lembur</h3>
          </div>
        </div>
      </div>
      <div class="produk-content-3" style="background-image: url(assets/images/bg-3.png);">
        <div class="row">
          <div class="col-md-6">
            <h1>Tracking Presensi Kehadiran</h1>
            <h3>Lacak kehadiran pegawai dimanapun dan kapanpun tanpa batasan waktu</h3>
          </div>
          <div class="col-md-6">
            <img src="assets/images/img-produk-3.png" alt="">
          </div>
        </div>
      </div>
      <div class="produk-content-4">
        <div class="row">
          <div class="col-md-7">
            <img src="assets/images/img-produk-4.png" alt="">
          </div>
          <div class="col-md-5">
            <h1>Manajemen Absensi</h1>
            <h3>Kelola ketidakhadiran pegawai, data yang tersaji akurat dan transparan</h3>
          </div>
        </div>
      </div>
      <div class="produk-content-5" style="background-image: url(assets/images/bg-3.png);">
        <div class="row">
          <div class="col-md-5">
            <h1>Perhitungan PPh</h1>
            <h3>Fitur perhitungan pph pegawai secara otomatis, menerapkan kebijakan terbaru sesuai kebijakan perusahaan</h3>
          </div>
          <div class="col-md-7">
            <img src="" alt="">
          </div>
        </div>
      </div>
      <div class="produk-content-6">
        <div class="row">
          <div class="col-md-6">
            <img src="" alt="">
          </div>
          <div class="col-md-6">
            <h1>Attadance App</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor feugiat aliquet condimentum aliquam quam ante.</h3>
          </div>
        </div>
      </div>
      <div class="produk-content-7" style="background-image: url(assets/images/bg-3.png);">
        <div class="row">
          <div class="col-md-5">
            <h1>GPS Tracking</h1>
            <h3>Lacak posisi ceklok pegawai secara realtime</h3>
          </div>
          <div class="col-md-7">
            <img src="assets/images/img-produk-7-1.png" alt="">
            <img src="assets/images/img-produk-7.2.png" alt="">
          </div>
        </div>
      </div>
      <div class="produk-content-8">
        <div class="row">
          <div class="col-md-6">
            <img src="" alt="">
          </div>
          <div class="col-md-6 c-2">
            <h1>Presensi Kalender</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor feugiat aliquet condimentum aliquam quam ante.</h3>
          </div>
        </div>
      </div>
      <div class="produk-content-9" style="background-image: url(assets/images/bg-3.png);">
        <div class="row">
          <div class="col-md-6 c-1">
            <h1>Grafik Kehadiran</h1>
            <h3>Pimpinan dapat melihat grafik kehadiran pegawai dalam bentuk statistik</h3>
          </div>
          <div class="col-md-6">
            <img src="" alt="">
          </div>
        </div>
      </div>

      <!-- Review Content -->
      {% include review_content.html %}

      <!-- Review Content -->
      {% include faq_content.html %}
      
      
      <div class="produk-content-10">
        <div class="row">
          <div class="col-md-6">
            <h1>Mulai Aplikasi CEKLOK</h1>
            <h3>Dapatkan Ceklok dengan perangkat lunak kelola kehadiran pegawai.</h3>
            <button type="button" class="btn btn-primary">Online Demo</button>
          </div>
          <div class="col-md-6" style="position: relative;">
            <img class="img" src="assets/images/demo-2.png" alt="">
          </div>
        </div>
      </div>

