<div class="faq-content" style="background-image: url(assets/images/bg-4.png);">
    <div class="faq">
      <h1>FAQs</h1>
      <h3>Beberapa pertanyaan yang sering diajukan...</h3>
    </div>
    <div class="card">
      <div class="d-grid gap-2">
        <button type="button" class="btn">Apa itu Ceklok 
          <i class="gg-arrow-long-down"></i>
        </button>
        <button type="button" class="btn">Bagaimana cara melakukan presensi masuk? 
          <i class="gg-arrow-long-down"></i>
        </button>
        <button type="button" class="btn">Bagaimana pengelolaan data kepegawaian?
          <i class="gg-arrow-long-down"></i>
        </button>
        <button type="button" class="btn">Seperti apa bentuk laporan statistik bulanan pegawai? 
          <i class="gg-arrow-long-down"></i>
        </button>
        <button type="button" class="btn">Bagiaman laporan gaji pegawai? 
          <i class="gg-arrow-long-down"></i>
        </button>
      </div>
    </div>
  </div>