<div class="faq-content" style="background-image: url(assets/images/bg-4.png);">
  <div class="faq">
    <h1>FAQs</h1>
    <h3>Beberapa pertanyaan yang sering diajukan...</h3>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="panel-group" id="accordion">
        <div class="card mb-3">
          <div class="card-header" id="headingExample1" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
            <div class="card-body">
              Apa saja fitur yang tersedia pada aplikasi ceklok?  
              <span class="material-symbols-outlined">
                expand_more
              </span>
            </div>
          </div>
          <div class="collapse" id="collapseExample1">
            <div class="card-body">
              Ceklok turut mengembangkan perusahaan Anda dengan fitur-fitur yang beragam, seperti fitur Penggajian untuk kelola gaji pegawai, fitur kepegawaian untuk manajemen data pegawai, fitur presensi kehadiran, fitur laporan overtime, dan masih banyak lainnya yang dapat memudahkan operasional sehari-hari. 
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header" id="headingExample2" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
            <div class="card-body">
              Apakah aplikasi ceklok berbayar?
              <span class="material-symbols-outlined">
                expand_more
              </span>
            </div>
          </div>
          <div class="collapse" id="collapseExample2">
            <div class="card-body">
              Tidak, aplikasi ceklok 100% gratis, tanpa batasan karyawan atau waktu. Aplikasi ceklok memang memiliki peningkatan opsional, yang mungkin diinginkan oleh banyak UKM dan perusahaan besar, tetapi untuk sebagian besar bisnis, terutama yang lebih kecil, versi gratisnya sudah lebih dari cukup. 
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header" id="headingExample3" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
            <div class="card-body">
              Mengapa perusahaan harus memiliki HRIS?
              <span class="material-symbols-outlined">
                expand_more
              </span>
            </div>
          </div>
          <div class="collapse" id="collapseExample3">
            <div class="card-body">
              Alasan mengapa perusahaan harus memiliki HRIS, karena sistem tersebut memiliki banyak manfaat bagi perusahaan, dengan mengimplementasikan HRIS, pengelolaan administrasi perusahaan dapat dilakukan lebih efekttif dan efisien. Sistem HRIS akan mendigitalisasi semua proses yang semula dilakukan secara manual. 
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header" id="headingExample4" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
            <div class="card-body">
              Bagaimana cara berlangganan aplikasi ceklok?
              <span class="material-symbols-outlined">
                expand_more
              </span>
            </div>
          </div>
          <div class="collapse" id="collapseExample4">
            <div class="card-body">
              Anda bisa mengakses support@ceklok.com untuk berkonsultasi dengan tim kami atau Anda bisa langsung menghubungi nomor WhatsApp: 088227107255 sekaligus berlangganan dengan aplikasi ceklok. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
