<footer class="site-footer">
    <div class="row">
      <div class="col-md-8 col-6">
        <div class="row">
          <div class="col-md-6">
            <h5>PRODUK</h5>
            <a href="">Ceklok App</a>
            <a href="">Web Presensi Kehadiran</a>
          </div>
          <div class="col-md-6">
            <h5>SOLUSI</h5>
            <a href="">Fitur</a>
            <a href="">Harga</a>
          </div>
          <div class="col-md-6">
            <h5>PERUSAHAAN</h5>
            <a href="">Tentang Kami</a>
          </div>
          <div class="col-md-6">
            <h5>INFORMASI</h5>
            <a href="">Pusat Bantuan</a>
            <a href="">Upgrade Plans</a>
            <a href="">Ketentuan Pembelian</a>
            <a href="">Ketentuan Garansi </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="row">
          <div class="col-md-12">
            <img src="/assets/images//ceklok.png" alt="">
          </div>
          <div class="col-md-12">
            <h5>Kantor</h5>
            <p>Jl. Kelapa No. 80A, Kel. Ketami, Kec. Pesantren, Kota Kediri, Jawa Timur 64139</p>
          </div>
          <div class="col-md-12">
            <h5>Email</h5>
            <a href="mailto:support@ceklok.com">support@ceklok.com</a>
          </div>
          <div class="col-md-12">
            <h5>No.Telp</h5>
            <p>088227107255</p>
          </div>
          <div class="col-md-12">
            <img class="img1" src="/assets/images/ps.png" alt="" style="width: 220px; height: auto;">
            <img class="img1" src="/assets/images/app-store.png" alt="" style="width: 200px; height: auto;">
          </div>
        </div>
      </div>
    </div>
    <hr style="height:2px;border-width:0;color:white;">
    <div class="copyright">
        <p>Copyright &copy; 2024 CV. Adisatya IT Consultant</p>
    </div>
  </footer>