<header class="site-header" role="banner">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <img class="nav-img" src="/assets/images/ceklok-nav.png" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-0 me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: 'Poppins', sans-serif;">
                            PRODUK
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" style="font-family: 'Poppins', sans-serif;" href="penggajian">Penggajian Pegawai</a></li>
                            <li><a class="dropdown-item" style="font-family: 'Poppins', sans-serif;" href="kepegawaian">Manajemen Kepegawaian</a></li>
                            <li><a class="dropdown-item" style="font-family: 'Poppins', sans-serif;" href="presensi">Laporan Presensi Kehadiran</a></li>
                            <li><a class="dropdown-item" style="font-family: 'Poppins', sans-serif;" href="overtime">Laporan Overtime</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-family: 'Poppins', sans-serif;" href="#">FITUR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-family: 'Poppins', sans-serif;" href="#">HARGA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-family: 'Poppins', sans-serif;" href="#">TENTANG KAMI</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <div class="d-flex ">
                        <button class="btn" type="button">MASUK</button>
                        <button class="btn btn-primary" style="font-size: 20px; color: #3387d4; border: 2px solid #3387d4; border-radius: 25px; background-color: transparent;" type="button">DAFTAR</button>
                    </div>
                    <div class="vertical-line mx-2"></div>
                    <div class="order-lg-last" style="margin-left: auto;">
                        <li class="nav-item dropdown" style="list-style-type: none;">
                            <a class="nav-link dropdown-toggle navbar-link" style="color: black;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ID
                            </a>
                            <ul class="dropdown-menu" >
                                <li><a class="dropdown-item" href="#">.......</a></li>
                                <li><a class="dropdown-item" href="#">.......</a></li>
                            </ul>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>