<header class="site-header" role="banner">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a href="/">
                <img class="nav-img" src="/assets/images/ceklok-nav.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-0 me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link"href="/">BERANDA</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: 'Poppins', sans-serif;">
                            PRODUK
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="detail">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="/assets/images/icon-header1.png" alt="">
                                        </div>
                                        <div class="col-10">
                                            <h5>Mesin Fingerprint Ceklok CK150</h5>
                                            <p>Mempunyai banyak fitur dan memberikan tingkat keamanan yang tinggi.</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="garansi">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="/assets/images/icon-header2.png" alt="">
                                        </div>
                                        <div class="col-10">
                                            <h5>Form Garansi Mesin Fingerprint</h5>
                                            <p>Memberikan garansi terbatas ini kepada setiap konsumen.</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: 'Poppins', sans-serif;">
                            FITUR
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="penggajian">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="/assets/images/icon-header3.png" alt="">
                                        </div>
                                        <div class="col-10">
                                            <h5>Penggajian Pegawai</h5>
                                            <p>Lewati perhitungan manual dengan pengaturan laporan tagihan, gaji dan insentif pegawai</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="kepegawaian">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="/assets/images/icon-header4.png" alt="">
                                        </div>
                                        <div class="col-10">
                                            <h5>Manajemen Kepegawaian</h5>
                                            <p>Data pegawai aktif dan non aktif yang terinci detail</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="presensi">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="/assets/images/icon-header5.png" alt="">
                                        </div>
                                        <div class="col-10">
                                            <h5>Laporan Presensi Kehadiran</h5>
                                            <p>Riwayat presensi masuk dan pulang pegawai yang terupdate sesuai waktu nyata di websiten maupun mobile</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="overtime">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="/assets/images/icon-header6.png" alt="">
                                        </div>
                                        <div class="col-10">
                                            <h5>Laporan Overtime</h5>
                                            <p>Detail jam mulai dan selesai lembur
                                                terakumulasi dengan sistematis</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"href="#">HARGA</a>
                    </li>
                    <li class="nav-item item">
                        <a class="nav-link"href="#">TENTANG KAMI</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <div class="d-flex">
                        <a href="#">MASUK</a>
                        <button class="btn btn-primary" style="font-size: 20px; font-weight: 600; color: #3387d4; border: 2px solid #3387d4; border-radius: 25px; background-color: transparent;" type="button">DAFTAR</button>
                    </div>
                    <div class="vertical-line mx-2"></div>
                    <div class="order-lg-last" style="margin-left: auto;">
                        <li class="nav-item dropdown" style="list-style-type: none;">
                            <a class="nav-link dropdown-toggle navbar-link" style="color: rgba(0, 0, 0, .55)" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ID
                            </a>
                            <ul class="dropdown-menu" >
                                <li><a class="dropdown-item" href="#">.......</a></li>
                                <li><a class="dropdown-item" href="#">.......</a></li>
                            </ul>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>