<div class="review-content">
    <h1>APA KATA MEREKA?</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div>
              <h5 class="card-title">Mudah untuk digunakan</h5>
              <div class="rating">
                <img class="star" src="assets/images/star-solid.png" alt="">
                <img class="star" src="assets/images/star-solid.png" alt="">
                <img class="star" src="assets/images/star-solid.png" alt="">
                <img class="star" src="assets/images/star-solid.png" alt="">
                <img class="star" src="assets/images/star-line.png" alt="">
              </div>
              <p class="card-text">Saya menyukai tampilan laporan grafik
                yang ada diweb dashboardnya. Mudah
                untuk dipahami dan lengkap menampilkan
                statistik kehadiran pegawai.</p>
            </div>
            <div class="card-bottom">
            <hr style="width: 200px; border-top: 1px solid #000000;">
            <p>M. Bahrul Yahya</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div>
              <h5 class="card-title">Ceklok sangat bekerja</h5>
              <div class="rating">
                <img class="star" src="assets/images/star-solid.png" alt="">
                <img class="star" src="assets/images/star-solid.png" alt="">
                <img class="star" src="assets/images/star-solid.png" alt="">
                <img class="star" src="assets/images/star-solid.png" alt="">
                <img class="star" src="assets/images/star-solid.png" alt="">
              </div>
              <p class="card-text">Aplikasi Ceklok sangat membantu saya
                dan memudahkan saya melakukan
                presensi.</p>
            </div>
            <div class="card-bottom">
              <hr style="width: 200px; border-top: 1px solid #000000;">
              <p>Okta Aditya</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Aplikasi Tracking Jam Kerja terbaik</h5>
            <div class="rating">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/half-star-solid.png" alt="">
            </div>
            <p class="card-text">Sangat mudah melihat detail titik lokasi
              presensi masuk dan pulang. Jam datang
              dan pulang yang sangat transaparan.</p>
              <div class="card-bottom">
                <hr style="width: 200px; border-top: 1px solid #000000;">
                <p>Ragil Anggara</p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Laporan gaji yang detail</h5>
            <div class="rating">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
            </div>
            <p class="card-text">Terdapat fitur slip gaji yang menampilkan
              detail penerimaan gaji dan potongan yang
              jelas. </p>
              <div class="card-bottom">
                <hr style="width: 200px; border-top: 1px solid #000000;">
                <p>Anadesi</p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Aplikasi kehadiran terbaik</h5>
            <div class="rating">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-line.png" alt="">
            </div>
            <p class="card-text">Aplikasinya mudah digunakan, mudah 
              untuk melacak lokasi presensi pegawai
              dan menampilkan keterlambatan pegawai.</p>
              <div class="card-bottom">
                <hr style="width: 200px; border-top: 1px solid #000000;">
                <p>Dewi Nasa K.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Deteksi wajah sangat mudah</h5>
            <div class="rating">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
              <img class="star" src="assets/images/star-solid.png" alt="">
            </div>
            <p class="card-text">Pengenalan wajah di aplikasi ini sangat
              bagus dan sangat mudah. </p>
              <div class="card-bottom">
                <hr style="width: 200px; border-top: 1px solid #000000;">
                <p>Roni Ahmadi</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>