<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Samsul Hadi, Adisatya IT Consultant" />
    <meta name="description" content="Aliyudin - Extend your limit to the Cloud with Alibaba Cloud. Sebuah blog yang inspiratif untuk berbagi cerita pengalaman mengenai penggunaan Alibaba Cloud." />
    <meta property="og:image" content="/assets/famicon.ico/favicon.ico">
	<meta property="og:title" content="Aliyudin Cloud's Blog">
	<meta name="robots" content="index, follow">
	<meta name="googlebot" content="index, follow">
    <!-- Don't forget to set your site up: http://google.com/webmasters -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/famicon.ico/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/famicon.ico/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/famicon.ico/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/famicon.ico/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/famicon.ico/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/famicon.ico/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/famicon.ico/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/famicon.ico/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/famicon.ico/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/assets/famicon.ico/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/famicon.ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/famicon.ico/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/famicon.ico/favicon-16x16.png">
	<link rel="manifest" href="/assets/famicon.ico/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/assets/famicon.ico/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/aitc/9ea53e4bbe75452589794d4399030005_R24_icon.ico" />
	
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view"><a href="https://github.com/adisatyaitconsultant/adisatyaitconsultant.github.io">View the Project on GitHub <small>Samsul Hadi | CV. Adisatya IT Consultant</small></a></p>

        <p class="view"><a href="https://stackoverflow.com/story/samsulhadi">View My Stories</a></p>

        {% if site.show_links %}
        <ul class="downloads">
          <li><a href="https://www.linkedin.com/in/samlushadi/">My <strong>Linkedin</strong></a></li>
          <li><a href="https://www.quora.com/profile/Samsul-Hadi-49/">View on <strong>Quora</strong></a></li>
          <li><a href="https://www.qwiklabs.com/public_profiles/f96be0b6-deee-4537-9bbf-38a37db658d9">View On <strong>Qwiklabs</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/gablooge">Samsul Hadi</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177372090-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-177372090-1');
        </script>
    {% endif %}
  </body>
</html>